# Ignore object files
*.o

# Ignore binaries
*.exe

# Ignore output
JavaPrinting/data
*.class

# Ignore vscode settings
JavaPrinting/.vscode

# Ignore rust bin
*/target/**

# Ignore recover-from-failure stuff
recover-from-failure/out
recover-from-failure/tmp_mnt
recover-from-failure/Cargo.lock
